* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.header {
    padding-top: 5px;
}


.leftArea {
    position: absolute;
    top:10%;
    width: 30%;
    height: 88%;
    border: solid 1px #CCCCCC;
    overflow-y: scroll;
}

.rightArea {
    left: 30%;
    top:10%;
    position: absolute;
    overflow-y: scroll;
    width: 70%;
    height: 88%;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

li a {
    text-decoration: none;
    display: block;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding: 8px;
}

li a:hover {
    background-color: #4B0A1E;
    color: #BA8A92;
}

input, textarea {
    border: 1px solid #ccc;
    min-height: 30px;
    outline: none;
}

textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 100%;
    width: 100%;
    resize: none;
}

label {
    display: block;
}

.textAreaDescription {
    height: 95%;
}

.textAreaPrice {
    height: 5%;
    width: 90%;
}

button {
    padding: 6px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th {
    text-align: center;
}


